{% extends 'NTEAntiquitasBundle::layout.html.twig' %}

{% block body -%}
    <h1>AntiquitasModules list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Sourcesintroduction</th>
                <th>Bibliographieintroduction</th>
                <th>Introductionresume</th>
                <th>Introduction</th>
                <th>Conclusionresume</th>
                <th>Conclusion</th>
                <th>Banniere</th>
                <th>Langage</th>
                <th>Position</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('modules_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
                <td>{{ entity.sourcesIntroduction }}</td>
                <td>{{ entity.bibliographieIntroduction }}</td>
                <td>{{ entity.introductionResume }}</td>
                <td>{{ entity.introduction }}</td>
                <td>{{ entity.conclusionResume }}</td>
                <td>{{ entity.conclusion }}</td>
                <td>{{ entity.banniere }}</td>
                <td>{{ entity.langage }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('modules_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
