{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AntiquitasNoticesImages list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Contenu</th>
                <th>Vignette</th>
                <th>Statut</th>
                <th>Position</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('noticesimages_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.contenu }}</td>
                <td>{{ entity.vignette }}</td>
                <td>{{ entity.statut }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('noticesimages_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
